<div class="jumbotron">
  <h1>Hey guys!</h1>
  <p>This is the resources page for our amazing new site. Feel free to browse around and give us feedback!</p>
  <p><a class="btn btn-primary btn-lg" role="button" >Click here to get started</a></p>
  <p> 
  	Or login here: 
  	<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form>
</p>
</div>
